@font-face {
	font-family: "Chinese Rocks";
	src: url("chineserocks.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: none;
	font-family: "Milonga";
	font-size: 0.7vw;
}

#interaction-picker {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translate(0, -50%);
	background: rgba(0, 0, 0, 0.5);
	color: #D7D7D7;
}

#interaction-picker-title {
	text-align: center;
	padding: 0.5vh 0.5vw;
	background: #615c43 ;
	font-size: 1vw;
}

.interaction.selected {
	background: #DC5858;
}
